<%- include('../partials/header') %>

<main>
  <section class="flight-details-control">
    <article class="flight-details-container">
      <h2>Flight Information</h2>
      <section class="flight-details">
        <section class="departure">
          <h3>Departure</h3>
          <section class="departure-details">
            <section>
              <p class="flight-info-head">Airline</p>
              <p><%= flight.airline %></p>
            </section>
            <section>
              <p class="flight-info-head">Airport</p>
              <p><%= flight.airport %></p>
            </section>
            <section>
              <p class="flight-info-head">Flight Number</p>
              <p><%= flight.flightNo %></p>
            </section>
            <section>
              <p class="flight-info-head">Depart Time</p>
              <p><%= flight.departs.toLocaleString() %></p>
            </section>
          </section>
        </section>
        <section class="stops-details">
          <h3>Stops</h3>
          <section class="flight-stops">
            <% flight.destinations.forEach((destination) => { %>
              <section>
                <p class="flight-info-head">Airport</p>
                <p><%= destination.airport %></p>
                <p class="flight-info-head">Arrival Time</p>
                <p><%= destination.arrival ? destination.arrival.toLocaleString() : '' %></p>
              </section> 
              <% }); %>
          </section>
        </section>
      </section>
    </article>
    <form class="vertical-form" id="add-destination" action="/flights/<%- flight._id %>/destinations" method="POST">
      <h2>Add Stops</h2>
      <% if(flightSchema.obj.airport.enum.length !== flight.destinations.length + 1) { %> 
      <label for="airport">Airport</label>
        <select name="airport"> 
          <% flightSchema.obj.airport.enum.forEach((airport) => { %>
            <% if (!flight.destinations.map((destination) => destination.airport).includes(airport) && flight.airport !== airport) { %> 
            <option value="<%= airport %>" <%- flightSchema.obj.airport.default === airport ? 'selected' : '' %> ><%= airport %></option>
            <% } %> 
          <% }); %> 
        </select>
        <label for="arrival">
          Arrival:
        </label>
        <input type="datetime-local" name="arrival">
        <button type="submit">Add Destination</button>
      <% } else { %>
        <h3>No more destinations available to add</h3>
      <% } %>
    </form>
  </section>
  <section id="tickets">
    <section class="add-tickets-container">
      <%- tickets.length !== 0 ? `<h2>Tickets</h2>` : `<h2>No Tickets</h2>` %>
      <a href="/flights/<%= flight._id %>/tickets/new">
        <button>Add Tickets</button>
      </a>
    </section>
    <section class="tickets-container">
    <% tickets.forEach((ticket) => { %>
        <article class="ticket">
            <section>
              <h3>Seat</h3>
              <p><%= ticket.seat %></p>
            </section>
            <section>
              <h3>Price</h3>
              <p>$<%= ticket.price %></p>
            </section>
            <section>
              <h3>Ticket ID</h3>
              <p><%= ticket._id %></p>
            </section>
          <form action="/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
            <button class='delete-btn'type="submit">Delete Ticket</button>
          </form>
        </article>  
      <% }); %> 
      </section> 
  </section>
</main>

<%- include('../partials/footer') %>