<%- include('../partials/header') %>

<main>
  <section class="flight-details-control">
    <article class="flight-details">
      <p><span>Airline: </span><%= flight.airline %></p>
      <p><span>Airport: </span><%= flight.airport %></p>
      <p><span>Flight Number: </span><%= flight.flightNo %></p>
      <p><span>Depart Time: </span><%= flight.departs.toLocaleString() %></p>
      <h2>Stops</h2>
      <% flight.destinations.forEach((destination) => { %> 
        <p><span>Airport: </span><%= destination.airport %></p>
        <p><span>Arrival Time: </span><%= destination.arrival.toLocaleString() %></p>
      <% }); %>
    </article>
    <form class="vertical-form"action="/flights/<%- flight._id %>/destinations" method="POST">
      <h2>Add Stops</h2>
      <label for="airport">Airport</label>
        <select name="airport"> 
          <% flightSchema.obj.airport.enum.forEach((airport) => { %>
            <% if (!flight.destinations.map((destination) => destination.airport).includes(airport) && flight.airport !== airport) { %> 
            <option value="<%= airport %>" <%- flightSchema.obj.airport.default === airport ? 'selected' : '' %> ><%= airport %></option>
            <% } %> 
          <% }); %> 
        </select>
        <label for="arrival">
          Arrival:
        </label>
        <input type="datetime-local" name="arrival">
        <button type="submit">Add Destination</button>
    </form>
  </section>
  <section id="tickets">
    <section class="add-tickets-container">
      <%- tickets.length !== 0 ? `<h2>Tickets</h2>` : `<h2>No Tickets</h2>` %>
      <a href="/flights/<%= flight._id %>/tickets/new">
        <button>Add Tickets</button>
      </a>
    </section>
    <section class="tickets-container">
    <% tickets.forEach((ticket) => { %>
        <article class="ticket">
          <section class="ticket-info">
            <p><%= ticket.seat %></p>
            <p><%= ticket.price %></p>
            <p><%= ticket._id %></p>
          </section>
          <form action="/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
            <button class='delete-btn'type="submit">Delete Ticket</button>
          </form>
        </article>  
      <% }); %> 
      </section> 
  </section>
</main>

<%- include('../partials/footer') %>